﻿@using PRIME_UCR.Application.Implementations.UserAdministration;
@inject NavigationManager NavigationManager
<header class="navbar-header">

    <div class="ucr_header col">
        <a class="nav-link" href="https://www.ucr.ac.cr/"> <img src="https://i.imgur.com/Ltg4gCm.png "> </a>
    </div>


    <div class="top-row d-flex justify-content-between">
        <div class="col">
            <div class="top-row">
                <a class="nav-link" href="">PRIME@UCR</a>
                <a class="nav-link" href="https://www.ucr.ac.cr/" target="_blank">UCR</a>
                <a class="nav-link" href="https://www.ccss.sa.cr/" target="_blank">CCSS</a>
                <a class="nav-link d-none d-lg-block d-xl-block" href="about-us">Acerca de nosotros</a>
                <a class="nav-link d-none d-lg-block d-xl-block" href="vacunacionTab">Vacunacion</a>
            </div>
        </div>

        <div class="col">
            <div class="top-row d-flex justify-content-end">
                <AuthorizeView>
                    <Authorized>
                        <p class="m-0 d-none d-md-block d-lg-block d-xl-block">
                            @context.User.Identity.Name
                        </p>

                        <a class="nav-link btn btn-link" data-toggle="modal" data-target="#logoutPopout">
                            <img src="https://i.imgur.com/ENfAuBw.png" />
                        </a>

                        <div class="dropdown">
                            <button class="btn btn-transparent btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://i.imgur.com/Mpf0Bx4.png" alt="ucr_header_logo">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/changePassword"> Cambiar contraseña</a>
                                <a class="dropdown-item disabled" href="#">Configuración de cuenta</a>
                            </div>
                        </div>

                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logoutPopout" tabindex="-1" role="dialog" aria-labelledby="logoutPopoutLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutPopoutLabel">Confirmación de cerrar sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea cerrar sesión?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="redirect_logout" data-dismiss="modal" id="Confirmar">Cerrar sesión</button>
                    <button type="button" class="btn btn-secondaryOne" data-dismiss="modal" id="Cancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</header>

@code{
    public void redirect_logout()
    {
        NavigationManager.NavigateTo("/logout");
    }
    public void showCentrosSalud() { 
    
    
    }



}