﻿@page "/vacunacionTab"
<link href="css/about_us.css" rel="stylesheet" />
<link href="css/about_us.css" rel="stylesheet" />

<h1>Vacunacion</h1>
!--ejemplo de llamado de metodos --!
<button @onclick="jalardatos"></button>


@code{
    //codigo de la aplicacion
    //metodos para jalar datos de la base
    //metodos para llamar el api de mapas
    public void jalardatos() { 
    
    
    }
}
